/* Общие стили */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    left: -99999;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}

.pink_background_all_pages {
    width: 100%;
    height: 148px;
    background-color: #f8f3f4;
}

/* Стили Header*/
.header {
    background-color: #fff;
    padding: 25px 0;
    border-bottom: 1px solid grey;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;

    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
}

.pink {
    color: #f16d7f;
}

.logo-img {
    margin-right: 15px;
}

.browse {
    flex-grow: 1;
    margin-left: 40px;

    display: flex;
    align-items: center;
}

.browse-btn {
    font-size: 14px;
    line-height: 38px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    padding: 0 15px;
}

.login {
    display: flex;
    align-items: center;
}

.login a {
    margin-top: 6px;
}

.account:hover {
    background-color: #fc536b;
}

.account {
    background-color: #f16d7f;
    font-size: 15px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding: 0px 15px;
    margin-left: 25px;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-field {
    padding: 11px 15px;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.search-btn {
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
    background-color: #fff;
    padding: 10px 15px;
}

.search-field::placeholder {
    font-size: 14px;
    font-weight: 300;
    color: #a4a4a4;
    font-family: inherit;
}

/*
.search-field {
    width: 317px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    margin: 0;
}

.search-btn {
      border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  background-color: #fff;
  padding: 9px 15px;
    margin: -4px;
    width: 36px;
    height: 40px;
    background-color: #ffffff;
    background-image: url(../img/search.png);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}
*/

/* Стили Nav*/
.menu {
    font-family: Lato;
    font-size: 14px;
    /*    line-height: 26px;*/
    font-weight: 900;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
}

.menu:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-left: 46px;
}

/*CТИЛИ INDEX*/
/*Cили main*/
/* Стили Promo*/
.promo {
    background-color: #e8e8e8;
}

.promo_world {
    background-image: url(../img/header-bg.png);
    width: 1600px;
    height: 665px;
    margin-left: -230px;
}

.litle_pink {
    margin-top: 224px;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    display: inline-block;
}

.promo_text {
    display: inline-block;
    width: 485px;
}

.promo_h2 {

    margin-bottom: -4px;
    font-family: Lato;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;

}

.promo_p_black {
    font-size: 40px;
}

.promo_p_pink {
    display: inline-block;
    font-size: 40px;
    color: #f16d7f;
}

/* Стили Hot Deal*/
.hot_deal a,
p {
    text-decoration: none;
    margin: 0;
}


.hot_deal {
    margin-top: 98px;
    display: flex;
    padding: 0;
}

.hot_deal_big {
    margin: 20px 20px 20px 0;

    width: 560px;
    height: 542px;
    background-color: #000000;
}

.hot_deal_litle {

    margin: 20px 20px 20px 0;
    width: 560px;
    height: 261px;
    background-color: #000000;
}

.kids:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    box-shadow: -5px 5px 15px #bebebe;
}

.accoseriese:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    box-shadow: -5px 5px 15px #bebebe;
}

.women:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    box-shadow: -5px 5px 15px #bebebe;
}

.mens:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
    box-shadow: -5px 5px 15px #bebebe;
}

.mens {
    padding-top: 26px;
    background-image: url(../img/cat-1.png);
}

.women {
    padding-top: 26px;
    background-image: url(../img/cat-2.png);
}

.accoseriese {
    padding-top: 25px;
    background-image: url(../img/cat-3.png);
}

.pink_text {
    font-size: 30px;
    color: #f16d7f;
    font-family: Lato;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    text-decoration: none;
}

.black_text {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
}

.kids {
    padding-top: 27px;
    background-image: url(../img/cat-4.png);
}

.mens_text {
    padding: 16px;
    width: 175px;
    height: 82px;
    background-color: #ffffff;
}

.accoseriese_text {
    padding: 16px 18px;
    width: 225px;
    height: 82px;
    background-color: #ffffff;
}

.women_text {
    padding: 16px 19px 16px 15px;
    width: 162px;
    height: 82px;
    background-color: #ffffff;
}

.kids_text {
    padding: 16px;
    width: 180px;
    height: 82px;
    background-color: #ffffff;
}

/* Стили Catalog*/
.catalog_container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head_text h2 {
    margin: 0;
    font-family: Lato;
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
}

.head_text p {
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
}

.catalog_content_1 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.catalog_content_2 {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.content_btn {
    border: 0px;
    font-family: lato;
    font-size: 15px;
    line-height: 44px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-top: 79px;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
}

.content_btn p {}

.items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 30px;
    width: 263px;
    height: 364px;
}

.items_1 {
    position: relative;
    z-index: 2;
    background-image: url(../img/item-1.png);
    background-repeat: no-repeat;
    background-position: top;
}

.items_1:hover > .item_mask {
    opacity: 0.8;
}

.items_2:hover > .item_mask {
    opacity: 0.8;
}

.items_3:hover > .item_mask {
    opacity: 0.8;
}

.items_4:hover > .item_mask {
    opacity: 0.8;
}

.items_5:hover > .item_mask {
    opacity: 0.8;
}

.items_6:hover > .item_mask {
    opacity: 0.8;
}

.items_7:hover > .item_mask {
    opacity: 0.8;
}

.items_8:hover > .item_mask {
    opacity: 0.8;
}

.items_1:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: -5px 5px 15px #bebebe;

}

.items_2:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: -5px 5px 15px #bebebe;

}

.items_3:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: -5px 5px 15px #bebebe;

}

.items_4:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: -5px 5px 15px #bebebe;

}

.items_5:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: -5px 5px 15px #bebebe;

}

.items_6:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: -5px 5px 15px #bebebe;

}

.items_7:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: -5px 5px 15px #bebebe;

}

.items_8:hover {
    transform: scale(1.05);
    transition-duration: 1s;
    box-shadow: -5px 5px 15px #bebebe;

}

.item_mask a {
    text-decoration: none;
}

.item_mask {
    position: absolute;
    width: 100%;
    height: 281px;
    background-color: #585757;
    margin-bottom: 83px;
    opacity: 0;
}

.buy_item span {
    font-family: Lato;
    text-decoration: none;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}

.buy_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 70px;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
}

.items_2 {
    background-image: url(../img/item-2.png);
    background-repeat: no-repeat;
    background-position: top;
}

.items_3 {
    background-image: url(../img/item-3.png);
    background-repeat: no-repeat;
    background-position: top;
}

.items_4 {
    background-image: url(../img/item-4.png);
    background-repeat: no-repeat;
    background-position: top;
    margin-right: 0;
}

.items_5 {
    background-image: url(../img/item-5.png);
    background-repeat: no-repeat;
    background-position: top;
}

.items_6 {
    background-image: url(../img/item-6.png);
    background-repeat: no-repeat;
    background-position: top;
}

.items_7 {
    background-image: url(../img/item-7.png);
    background-repeat: no-repeat;
    background-position: top;
}

.items_8 {
    background-image: url(../img/item-8.png);
    background-repeat: no-repeat;
    background-position: top;
    margin-right: 0;
}

.catalog_text {
    margin: 19px 0px 17px 15px;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
}

.catalog_price {

    margin: 0px 0px 21px 14px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

/* Стили info*/
.saeles {
    display: flex;
    margin-top: 113px;
    width: 1140px;
    height: 529px;
    background-color: #222224;
}

.saeles_img {
    background-image: url(../img/sale.png);
    width: 767px;
    height: 529px;
}

.saeles_text {
    margin-left: 36px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_text {
    padding-top: 146px;
    padding-left: 39px;
}

.big_text {

    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;

}

.litle_text {

    font-family: Lato;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    font-size: 32.2px;
}

.big_pink_text {

    color: #f16d7f;
}

.saeles_text_1 {
    display: flex;
    margin-top: 48px;
}

.saeles_text img {
    margin-right: 30px;

}

.saeles_text h2 {
    margin: 0px 0px 17px 0px;
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.saeles_text p {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.saeles_text_2 {
    display: flex;
}



.saeles_text_3 {
    display: flex;
}

/*Cтили Footer*/
/*Cтили feedback*/
.feedback_container {
    display: flex;
}

.feedback {
    display: block;
    width: 100%;
    height: 438px;
    background-color: rgba(242, 242, 242, 0.5);
    margin-top: 97px;
}

.feedback_bkg {
    background-image: url(../img/bg.png);
    margin: 0 auto;
    width: 1600px;
    height: 438px;
    background-color: rgba(242, 242, 242, 0.5);
}

.coment {
    margin-right: 72px;
    display: flex;
    padding-top: 111px;
}

.coment_img {
    width: 83px;
    height: 83px;

    background-image: url(../img/review1.png);
    background-repeat: no-repeat;
    margin-right: 28px;
}

.coment_text {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
}

.coment_slyder {
    margin-top: 41px;
    display: flex;
}

.coment_grey {
    margin-right: 13px;
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.coment_pink {
    margin-right: 13px;
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
}

.coment_name {
    margin-top: 19px;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.coment_name_2 {
    font-family: Lato;
    letter-spacing: 0.025em;
    color: #f16d7f;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #222224;

}

.coment_line {
    width: 1px;
    height: 438px;
    background-color: #ffffff;
}

.email {
    margin: 148px 0px 0px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email_text {

    font-family: Lato;
    font-size: 24px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;


}

.email div {}

.feedback_form {
    margin-top: 35px;
    display: flex;
}

.feedback_email {
    padding-left: 28px;
    width: 282px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;
}

.feedback_btn {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
}

/*Стили more_nav*/

.more_nav_container {
    display: flex;
    justify-content: space-between;
    margin-top: 109px;
}

.more_nav_text {
    width: 427px;
}

.more h2 {
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.more a {
    line-height: 42px;
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;

}

.more ul {
    list-style-type: none;
    padding: 0;
}

.more_big_text {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}

/*Стили last line*/
.last_line {
    margin-top: 89px;
    width: 100%;
    height: 79px;
    background-color: #e6e6e6;
}

.last_line_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
}

.last_line_container li {
    list-style-type: none;
}

.links {
    display: flex;
}

.links li {
    margin-left: 8px;
}

.link_1 {
    background-image: url(../img/__420.png);
}

.link_2 {
    background-image: url(../img/twiter.png);
}

.link_3 {
    background-image: url(../img/__429.png);
}

.link_4 {
    background-image: url(../img/__433.png);
}

.link_5 {
    background-image: url(../img/__437.png);
}

.link_1:hover {
    background-image: url(../img/hhd/facebook.png);
    background-color: #f16d7f;
}

.link_2:hover {
    background-image: url(../img/hhd/__425.png);
    background-color: #f16d7f;
}

.link_3:hover {
    background-image: url(../img/hhd/in.png);
    background-color: #f16d7f;
}

.link_4:hover {
    background-image: url(../img/hhd/__433.png);
    background-color: #f16d7f;
}

.link_5:hover {
    background-image: url(../img/hhd/__437.png);
    background-color: #f16d7f;
}

.link_1:active {
    background-color: #ededed;
}

.link_2:active {
    background-color: #ededed;
}

.link_3:active {
    background-color: #ededed;
}

.link_4:active {
    background-color: #ededed;
}

.link_5:active {
    background-color: #ededed;
}

/*СТИЛИ PRODUCT*/
/*Стили Pink line*/
.product_h1 {
    display: flex;
    justify-content: space-between;
}

.product_h1 h1 {
    margin-top: 60px;
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
}

.product_h1 div {
    margin-top: 60px;
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;

}

.way {

    font-weight: 700;
    color: #f16d7f;
}

/*Стили основного блок*/
/*Стили левого меню выбор*/
.all_products {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.choice_menu {
    width: 243px;

}

.showroom {
    width: 847px;
}

.choise_menu {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ef5b70;
    margin-bottom: 18px;
    border-bottom: 1px solid #ebebeb;


}

.your_choice::-webkit-details-marker {

    display: inline-block;
    color: #ef5b70;
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ef5b70;
}

.your_choice {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    height: 37px;
    padding-left: 11px;
    box-shadow: -5px 0px 0px 0px #ef5b70;
}

.choice_menu_a {
    font-family: Lato;
    font-size: 14px;
    line-height: 33px;
    font-weight: 400;
    color: #6f6e6e;
    text-decoration: none;
    text-transform: none;
}

.choice_menu_a:hover {
    font-weight: 600;
}

.choice_menu ul {
    padding-left: 11px;
}

.choice_menu li {
    list-style-type: none;

}

/*Стили для формы*/
.options {
    display: flex;
    align-content: space-around;
    align-items: center;
}

.trending_now {
    flex-basis: 30%;
}

.trending_now ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;

}

.trending_now a {
    padding-right: 12px;
    text-decoration: none;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    border-right: 1px solid #dfdfdf;
}

.trending_now span {font-family: Lato;
font-size: 14px;
line-height: 20px;
font-weight: 700;
text-transform: uppercase;
color: #6f6e6e;}
.trending_now li {
    flex-basis: 30%;
    list-style-type: none;
    display: inline;
}

/*Стили grey line*/
.grey_line {
    margin: 45px 0px;
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}

.drop_down_list {
    display: flex;
    margin-left: 10px;
}

/*
.drop_down_list button {
    width: 119px;
height: 30px;
background-color: #ffffff;
border: 1px solid #ebebeb;
    font-family: Lato;
font-size: 14px;
line-height: 26px;
font-weight: 400;
color: #6f6e6e;
}
*/

.drop_down_list option,
select,
button {
    padding-left: 12px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
}


/*Cтили для основного каталога*/
.product_catalog a {
    text-decoration: none;
}

.product_catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog_card:hover {
    transform: scale(1.05);
    transition-duration: 0.2s;
    box-shadow: -5px 5px 15px #bebebe;
}

.catalog_card {
    flex-basis: 31%;
    background-color: #ffffff;
    width: 263px;
    height: 364px;
    margin-bottom: 38px;

}

/*Стили для селектора страниц*/

.view_pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pager_number a {
    text-decoration: none;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #c4c4c4;
}

.pager_number {
    list-style-type: none;
    display: inline;
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #c4c4c4;


}

.pager_number:hover a {
    text-decoration: underline;
}

.activ_page a {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #ef5b70;
}

.pager ul {

    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 261px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.view_all {

    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 800;
    color: #ef5b70;
    width: 150px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    border-radius: 3px;
}

.view_all:hover {
    color: #ffffff;
    background-color: #ef5b70;
}

/*Стили для полосы преимущиств*/
.black_line {
    margin-top: 110px;
    width: 100%;
    height: 341px;
    background-color: #222224;
    display: flex;
    align-items: center;
}

.icon_advantages_1 {
    height: 50px;
    width: 50px;
    background-image: url(../img/icon-delivery.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon_advantages_2 {
    height: 50px;
    width: 50px;
    background-image: url(../img/icon-sale.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon_advantages_3 {
    height: 50px;
    width: 50px;
    background-image: url(../img/icon-quantity.png);
    background-repeat: no-repeat;
    background-position: center;
}

.black_line_container {
    display: flex;
    justify-content: space-between;
}

.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 28%;
}

.advantages h2 {
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.advantages span {
    font-family: Lato;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
}

.feedback_product {
    margin-top: 0;
}
