// out: null

@media (min-width: 768px) {
    
    .header {
        min-height: 415px;
        background-image: url(../img/bg_tablets.jpg);
    }

    .wraper {
        width: 700px;
    }

    .menu_btn,
    .only_mobail {
        visibility: hidden;
        display: none;
    }

    .call_back,
    .b_m_s {
        display: none;
    }

    .hamburger-menu {
        flex-basis: 80%;
    }

    .menu_box {
        display: flex;
        justify-content: space-between;
        visibility: visible;
        transform: scale(1);
        position: static;
        width: 100%;
        transition-duration: 0;
        box-shadow: 0px 0px 0px;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        margin: 0;

        & li {
            display: inline;
        }

        & a {
            padding: 0;
            display: inline-block;
            color: #ffffff;
            .text_stayle_mixin(14px, 16.8px, 300);
            flex-basis: 13%;

            &:hover {
                text-decoration: underline;
                background-color: rgba(255, 255, 255, 0);
            }
        }
    }

    .t_flex_w {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header_heding {
        margin-top: 55px;
        color: #ffffff;
        flex-basis: 74%;
    }

    .header_heding_2 {
        flex-basis: 70%;
        color: #ffffff;
    }

    .send {
        margin-top: 25px;
    }

    .were_the_best {
        display: flex;
        flex-wrap: wrap;
    }

    .were_img {
        flex-basis: 50%;
        order: 1;

    }

    .only_tablets {
        display: block;
        margin-bottom: 0;
        .text_stayle_mixin(36px, 43.2px, 600);
    }

    .were_heding {
        display: none;

    }
    .w_t_b {
        flex-basis: 50%;
    }
    .were_text {
        
        flex-basis: 50%;
        .text_stayle_mixin(14px, 16.8px, 300);

    }
    .steps{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .step{
        flex-basis: 45%;
        display: flex;
    flex-direction: column;
    align-items: center;
        h3 {
            .text_stayle_mixin(26px, 31px, 400);
        }
        p {
            .text_stayle_mixin(16px, 19px, 300);
        }
    }
 
}
