.text_stayle_mixin(@size: 24px, @l_hight: 20px, @f_weight: 600) {
    font-family: Prompt;
    font-size: @size;
    line-height: @l_hight;
    font-weight: @f_weight;
}

@main-blue: #008DCD;

/* Общие стили */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    overflow-x: hidden;
}

.wraper {
    width: 280px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    left: -99999;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



.blur {
    filter: blur(5px);
    height: 100%;
    width: 100%;
}

.obolochka { 
    display: none;
    background: rgba(0, 0, 0, 0.68);
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.dialog {
    
    position: absolute;
    z-index: 3;
    overflow: auto;
    width: 440px;
    height: 336px;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import "mobail.less";
@import "_tb.less";
@import "_desktop.less";
